* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    background-image: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    height: 100vh;
    font-size: 13px;
}
/* INIZIO STILE CONTATTI */
.contacts header, .contacts main {
    border-right: 1px solid rgb(177, 177, 177);
}
.profile, .console {
    display: flex;
    align-items: center;
}
/* Inizio stile notification */
.notification {
    padding: 70px 10px 10px;
    display: flex;
    background-color: rgb(142, 218, 252);
}
.notification i {
    background-color: white;
    padding: 10px 8px;
    border-radius: 50%;
    color: rgb(142, 218, 252);
}
.notification .text {
    margin-left: 10px;
}
.notification a {
    display: block;
    font-size: 11px;
    color: rgb(177, 177, 177);
}
/* Inizio stile main contacts */
.contacts main {
    background-color: white;
    height: calc(100% - 120px);
}
.input {
    padding: 5px;
    background-color: rgb(250, 250, 250);
}
.input-group-text, .form-control {
    border-radius: 1px;
}
.input-group-text {
    background-color: white;
}
.input i {
    font-size: 15px;
    margin: 0 15px;
    color: rgb(177, 177, 177);
}
/* Inizio stile lista contatti */
.contactsList {
    overflow-y: scroll;
    height: calc(100% - 47.5px);
}
.contact {
    padding: 10px;
    position: relative;
}
hr {
    margin: 0;
    border: 1px solid rgb(177, 177, 177);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.contact .profileImg {
    height: 50px;
    width: 50px;
    margin: 0 20px 0 10px;
}
/* FINE STILE CONTATTI */
/* INIZIO STILE CONVERSAZIONI */
.messages {
    background-image: url(../img/mine.jpg);
}
.messages .name {
    margin-left: 10px;
}
.messages main {
    padding: 60px 0;
    height: 100%;
}
.conversation {
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}
.message {
    padding: 10px 10px 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 60%;
    min-width: 40%;
}
.message .time {
    font-size: 10px;
    text-align-last: right;
}
.sent {
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
}
.received {
    background-color: white;
    align-self: flex-start;
}
footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px 0;
    align-items: center;
    background-color: rgb(234, 234, 234);
}
footer i {
    margin: 0 30px;
    color: rgb(130, 130, 130);
}
/* FINE STILE CONVERSAZIONI */
/* INIZIO STILE GENERALE */
.container {
    height: 95vh;
}
.col-5, .col-7 {
    padding: 0;
}
.contacts, .messages {
    position: relative;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.profileImg {
    height: 40px;
    width: 40px;
}
img {
    width: 100%;
    border-radius: 50%;
}
.accesso, .time, .lastMessage {
    font-size: 11px;
    color: rgb(177, 177, 177);
}
header i {
    margin: 0 10px;
    color: rgb(177, 177, 177);
}
i {
    font-size: 20px
}
/* FINE STILE GENERALE */
/* INIZIO UTILITIES */
.h-100 {
    height: 100%;
}