<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="container my-4">
            <div class="row h-100">
                <!-- INIZIO COLONNA CONTATTI -->
                <div class="col-5 h-100">
                    <div class="contacts h-100">
                        <header> <!-- Inizio header -->
                            <div class="profile">
                                <div class="profileImg">
                                    <img src="./img/avatar_io.jpg" alt="Io">
                                </div>
                                <div class="name">
                                    Sofia
                                </div>
                            </div>
                            <div class="console d-flex">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </header> <!-- Fine header -->
                        <div class="notification"> <!-- Inizio notification -->
                            <i class="fa-solid fa-bell-slash"></i>
                            <div class="text">
                                Ricevi notifiche di nuovi messaggi
                                <a href="#">
                                    Attiva notifiche desktop
                                </a>
                            </div>
                        </div> <!-- Fine notification -->
                        <main> <!-- Inizio main -->
                            <div class="input">
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass"></i></span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Cerca o inizia una nuova chat" v-model="contactSearch" @input="searchContact">
                                </div>
                            </div>
                            <div class="contactsList"> <!-- Inizio lista contatti -->
                                <div class="contact" v-for="(contact, index) in contacts" :class="index === activeChat ? 'active' : ''" @click="becomeActive(index)" v-show="contact.visible=== true">
                                    <div class="d-flex justify-content-between">
                                        <hr>
                                        <div class="d-flex">
                                            <div class="profileImg">
                                                <img :src="contact.avatar" :alt="name">
                                            </div>
                                            <div class="name">
                                                {{contact.name}}
                                                <div class="lastMessage">
                                                    {{contact.messages[contact.messages.length - 1].message}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time">
                                            {{contact.messages[contact.messages.length - 1].date}}
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Fine lista contatti -->
                        </main> <!-- Fine main -->
                    </div>
                </div>
                <!-- FINE COLONNA CONTATTI -->
                <!-- INIZIO COLONNA CONVERSAZIONI -->
                <div class="col-7 h-100">
                    <div class="messages h-100">
                        <header> <!-- Inizio header -->
                            <div class="profile">
                                <div class="profileImg">
                                    <img :src="contacts[activeChat].avatar" :alt="contacts[activeChat].name">
                                </div>
                                <div class="name">
                                    {{contacts[activeChat].name}}
                                    <div class="accesso">
                                        Ultimo accesso {{contacts[activeChat].messages[contacts[activeChat].messages.length - 1].date}}
                                    </div>
                                </div>
                            </div>
                            <div class="console d-flex">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </header> <!-- Fine header -->
                        <main> <!-- Inizio main -->
                            <div class="conversation">
                                <div class="message" v-for="(message, index) in contacts[activeChat].messages" :class="message.status === 'sent' ? 'sent' : 'received'">
                                    {{message.message}}
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#" @click="deleteMessage(index)">Cancella messaggio</a></li>
                                          <li><a class="dropdown-item" href="#">Info messaggio</a></li>
                                        </ul>
                                    </div>
                                    <div class="time">
                                        {{message.date}}
                                    </div>
                                </div>
                            </div>
                        </main> <!-- Fine main -->
                        <footer> <!-- Inizio footer -->
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" class="form-control" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                            <div>
                                <i class="fa-solid fa-microphone" v-if="newMessage===''"></i>
                                <i class="fa-solid fa-paper-plane" v-else="" @click="sendMessage"></i>
                            </div>
                        </footer> <!-- Fine footer -->
                    </div>
                </div>
                <!-- FINE COLONNA CONVERSAZIONI -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js" integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>